# Author: Connor Watson
# Date: 20200305
# CS 301 - 006, Professor Watson
# HW 04 Solution

The purpose of this assignment is to help students practice using Pandas to query their data to get answers to some basic questions.

link to the git repo (https://github.com/cww5/Intro-Data-Science-S2020)

##### Note - For questions marked with an asterisk (*), Students do not have to use specific code to display the answer. As long as they show the work they did to achieve the answer.

##### Note - This analysis is not perfect. There are many rows which have partial duplicates because of the 'last updated' column. However, due to the nature of this assignment, this is designed to completely ignore that column. Yes, this falsifies the answers. To get a more accurate answer, each country/region should only keep the most updated observation. This requires more data manipulation.

In [1]:
import numpy as np
import pandas as pd

In [5]:
root_dir = 'C:\\Users\\watson\\Documents\\CS301_Planning\\datasets\\2019-coronavirus-dataset-01212020-01262020\\'
corona_file = root_dir + '2019_nCoV_20200121_20200206.csv'
my_df = pd.read_csv(corona_file, index_col=0)

my_df.reset_index(inplace=True)

my_df.head()

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0

### Question 1 - Solution

In [6]:
def get_percent_nans(df, column_name):
    '''
    This question takes in a DataFrame and a column (which is assumed to exist in the Frame) and calculates the percent
    of how many rows are empty
    '''
    return (df.loc[(df[column_name].isna())].shape[0] / df.shape[0])*100

In [7]:
for col in my_df.columns:
    print('The \"{}\" column has {:.2f}% empty values'.format(col, get_percent_nans(my_df, col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

### Question 2 *
#### Which country/region has the highest amount of confirmed cases?
#### Answer - Mainland China

In [9]:
sum_columns = my_df.groupby('Country/Region').agg(np.sum)
sum_columns.reset_index(inplace=True)
sum_columns.sort_values(by='Death', ascending=False).head()

    Country/Region  Confirmed  Suspected  Recovered   Death
15  Mainland China   302231.0      839.0     8448.0  6539.0
19     Philippines       25.0        4.0        0.0    10.0
9        Hong Kong      337.0     1139.0        0.0     4.0
0        Australia      238.0        1.0       30.0     0.0
20          Russia       26.0        0.0        0.0     0.0

### Question 3 *
#### Which country/region has the highest amount of suspected cases?
#### Answer - Hong Kong

In [10]:
sum_columns.sort_values(by='Suspected', ascending=False).head()

    Country/Region  Confirmed  Suspected  Recovered   Death
9        Hong Kong      337.0     1139.0        0.0     4.0
15  Mainland China   302231.0      839.0     8448.0  6539.0
16        Malaysia      195.0        4.0        0.0     0.0
19     Philippines       25.0        4.0        0.0    10.0
17          Mexico        0.0        1.0        0.0     0.0

### Question 4 *
#### Which country/region has the second most amount of recovered cases?
#### Answer - Thailand

In [11]:
sum_columns.sort_values(by='Recovered', ascending=False).head()

    Country/Region  Confirmed  Suspected  Recovered   Death
15  Mainland China   302231.0      839.0     8448.0  6539.0
27        Thailand      452.0        0.0      117.0     0.0
0        Australia      238.0        1.0       30.0     0.0
13           Japan      360.0        0.0       26.0     0.0
31         Vietnam      122.0        0.0       12.0     0.0

### Question 5
#### Develop a mapping for each country to the continent it belongs to.
#### Answer - As long as there is some logical way to map the countries (in the data set) to the continents it's fine. I'm more concerned with the solution's integration into Question 6.

### Question 6 *
#### Define a function named get_continent which uses the mapping from question 5 to determine the continent the country is from.
#### Answer - Again, here the actual code does not matter. But it should successfully map the country to the continent it's from.

In [12]:
def get_continent(country):
    continents = {
        'Asia':['Vietnam', 'United Arab Emirates', 'Thailand', 'Taiwan', 'Asia', 'South Korea', 'Singapore', 'Russia', 'Philippines', 
               'Nepal', 'Malaysia', 'Mainland China', 'Macau', 'Japan', 'India', 'Hong Kong', 'Cambodia'],
        'Europe':['UK', 'Sweden', 'Spain', 'Italy', 'Germany', 'France', 'Finland', 'Belgium'],
        'South America':['Colombia', 'Brazil'],
        'North America':['United States', 'Mexico', 'Canada'],
        'Austrailia':['Austrailia'],
        'Africa':['Ivory Coast'],
    }
    for continent, country_list in continents.items():
        if country in country_list:
            return continent

In [13]:
get_continent('UK')

'Europe'

In [14]:
get_continent('United States')

'North America'

In [15]:
get_continent('Ivory Coast')

'Africa'

### Question 7 *
#### Utilize the get_continent function to create a new column in the data set which is the continent that corresponds to the value which appears in the country/region column.
#### Answer - Again, here the actual code does not matter. But the solution should successfully add the Continent column. Solutions can use a for loop, apply, agg, which ever method desired, as long as it works.

In [16]:
my_df['Continent'] = my_df['Country/Region'].apply(get_continent)
my_df.head()

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia

In [17]:
my_df.groupby('Continent').count()['Country/Region']

Continent
Africa              2
Asia             1440
Europe            124
North America     205
South America       2
Name: Country/Region, dtype: int64

### Question 8 *
#### What is the total number of confirmed, suspected, recovered, and deaths per continent?
#### Answer:

In [18]:
my_df.groupby('Continent').agg(np.sum)

               Confirmed  Suspected  Recovered   Death
Continent
Africa               1.0        0.0        0.0     0.0
Asia            304961.0     1986.0     8603.0  6553.0
Europe             395.0        0.0        0.0     0.0
North America      273.0        1.0        0.0     0.0
South America        0.0        2.0        0.0     0.0