# Author: Connor Watson
# Date: 20200305
# CS 301 - 006, Professor Watson
# HW 03 Solution

The purpose of this assignment is to help students practice using Python to create solutions for identifying potential outliers of a data set.

link to the git repo (https://github.com/cww5/Intro-Data-Science-S2020)

In [1]:
import numpy as np
import pandas as pd

#### Use these five samples to test Problem 1

In [2]:
# Change this to the directory where you download the files
root_dir = 'C:\\Users\\watson\\Documents\\CS301_Planning\\datasets\\'

drinks = root_dir + 'drinks.csv'
missing = root_dir + 'missing_file.csv'
items1 = root_dir + 'fake_items_one.txt'
items2 = root_dir + 'fake_items_two.csv'
items3 = root_dir + 'fake_items_three.txt'

### Solution to Problem 1 below:

In [3]:
def data_reader(file_path):
    '''
    This function takes in a file path as a string, and attempts to read the file. In the case where there is an error,
    safely return None and print an error message to the user.
    '''
    try:
        df = pd.read_csv(file_path)
        print('The shape is: {}'.format(df.shape))
        return df
    except:
        print('Error during reading, please try again.')
        return None

#### Below is the expected output:

In [4]:
one = data_reader(drinks)
one.head(1)

The shape is: (193, 6)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia

In [5]:
two = data_reader(missing)

Error during reading, please try again.

In [6]:
three = data_reader(items1)
three.head()

The shape is: (3, 2)

   sku name
0    1    A
1    2    B
2    3    C

In [7]:
four = data_reader(items2)

Error during reading, please try again.

In [8]:
five = data_reader(items3)

The shape is: (3, 3)

### Use the following DataFrames for the remaining problems:

In [9]:
tsla = pd.read_csv(root_dir + 'TSLA.csv')
tsla.head(3)

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800

In [10]:
one.head(3)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa

### Solution to Problem 1 below:

In [11]:
def get_num_outliers(df, col):
    '''
    This function takes in a DataFrame and a string column name (assuming it's part of the DataFrame) and identifies
    the number of outliers in the column. This also assumes that all the values in the column are numeric.
    '''
    desc = df[col].describe()
    q1 = desc.loc['25%']
    q3 = desc.loc['75%']
    iqr = q3-q1
    upper_bound = q3 + 1.5 * iqr
    lower_bound = q1 - 1.5 * iqr
    outliers = df.loc[(df[col]>upper_bound)|(df[col]<lower_bound)]
    return outliers.shape[0]

* Please be aware there are different methods to calculate the quartiles...
* For this problem, numpy or pandas should give back the correct answer.

#### Below is the expected output:

In [13]:
get_num_outliers(one, 'beer_servings')

0

In [14]:
get_num_outliers(one, 'spirit_servings')

5

In [15]:
get_num_outliers(one, 'wine_servings')

26

In [16]:
get_num_outliers(tsla, 'High')

3

In [17]:
get_num_outliers(tsla, 'Close')

3

#### My solution for Problem 2

In [18]:
def get_num_deviants(df, col, n):
    desc = df[col].describe()
    std = desc.loc['std']
    upper_bound = desc.loc['mean'] + n*std
    lower_bound = desc.loc['mean'] - n*std
    deviants = df.loc[(df[col]>upper_bound)|(df[col]<lower_bound)]
    return deviants.shape[0]

##### Insert the students' solution here, don't run the above cell:

* Please be aware some students may have used different methods to calculate the standard deviation...
* For this problem, pandas df.describe() should give back the correct answer. The numpy solution will not work.

#### Expected output:

In [19]:
get_num_deviants(one, 'beer_servings', 1)

64

In [20]:
get_num_deviants(one, 'spirit_servings', 1)

32

In [21]:
get_num_deviants(one, 'spirit_servings', 2)

9

In [22]:
get_num_deviants(one, 'wine_servings', 1)

28

In [23]:
get_num_deviants(one, 'wine_servings', 2)

15